#story-cover > .story-cover-content > h1 {
	color:#990000;
	text-shadow:none;
}

#story-cover > .story-cover-content > .lead {
	color:black;
	text-shadow:none;
}

#story-cover > .story-cover-content > .byline {
	color:black;
	text-shadow:none;
}

.noborder {
	    overflow-x:hidden;
}

blockquote {
	color:#990000;
}
